body{
    background:#f2f2f2;
    padding: 0;
}

.row {
    max-width:600px;
    margin:auto;    
    padding:4px;
}

.ideas {
   list-style:none; 
}

.idea {
   overflow: auto; 
   list-style: none;
}

.box-name a{
    color:#222;
}

.box-name a:hover, .pages a:hover{
    text-decoration:none;
}

.header {
background: #498FDD;
}

.header a {
color:white;
}

.idea-form {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5; 
    border-radius: 3px; 
    margin:2px; 
    display: inline-block;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.idea-form input[type="text"] {
    border: none;
    width: 260px;
}
.idea-form input[type="text"]:focus{
    outline:none;
}

.idea-form input[type="submit"] {
    background: #FFA51A;
    border: none;
    padding: 5px 14px;
    color: white;
    border-radius: 6px;
}
.pages {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.pages li {
    display: inline-block;
    background: rgb(214, 214, 214);
    color: rgb(117, 117, 117);
    padding: 0px 7px;
    border-radius: 0 8px 0 0;
    z-index: 0;
    position: relative;
    margin-left: -6px;
    cursor:pointer;
}


.pages .active {
    color: white;
    background: #498FDD;
    z-index: 2;
}

.pages li:first-child {
        margin: 0;
}

.pages a {
    color:inherit;
}

.idea {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin: 2px;
    padding: 5px 10px;
    border-left-width:3px;
}

.vote-box {
    background: rgba(189, 189, 189, 0.15);
    color: rgb(148, 148, 148);
    margin-right: 8px;
    padding: 0 1px;
    display:inline-block;
}
.idea-title {
    color: inherit;
}
.vote-box a {
    color: rgb(170, 170, 170);
    font-size: 13px;
    display: inline-block;
    vertical-align: text-bottom;
    cursor:pointer;
}
.vote-up:hover, .vote-up.current-vote {
    text-decoration: none;
    color: #5EEF19;
}
.vote-down:hover, .vote-down.current-vote {
    text-decoration: none; 
    color: #F71945;
}
.comments-count{
    float:right;
    color:rgb(172, 172, 172);
}
.comments-count:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.pagination {
    text-align: right;
}
.step-links {
background: rgb(245, 245, 245);
color: rgb(145, 145, 145);
font-size: 14px;
padding: 0px 6px;
margin-right: 3px;
display: inline-block;
position: relative;
border: 1px solid;
border-color: #DBDBDB #D5D5D5 #C7C7C7;
border-radius: 3px;
}
.step-links a {
    color: rgb(143, 143, 143);
}
.step-links a:hover {
    text-decoration:none;
    color:rgb(27, 27, 27);
}

.delete-form {
    display:inline;
    float:right;
}

.delete-form input[type="submit"] {
    color: #CF0029;
    border: none;
    background: none;
}
