body{
    background:#f2f2f2;
    padding: 0;
}

.row {
    max-width:600px;
    margin:auto;    
    padding:4px;
}

.ideas {
   list-style:none; 
}

.idea {
   overflow: auto; 
   list-style: none;
}

.box-name {
    font-size: 1.1rem;

    font-weight: bold;
}

.logout {
    float: right;
}

.logout input[type='submit']{
    border:none;
    background: transparent;
    color: white;
}

.box-name:hover, .pages a:hover{
    text-decoration:none;
}

.header {
background: #498FDD;
position: relative;
z-index: 10;
}

.header a {
    color:white;
}

.logo {
    /* border: 1px solid #074891; */
    padding: 0 5px;
    display: inline-block;
    border-radius: 2px;
    transition: all 0.2s;
    background: #0A67CF;
    color: #72A9E5 !important;
    margin-left: -20px;
    margin-right: 4px;
}
.logo:hover {
    text-decoration: none;
    background: white;
}

.idea-form {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5; 
    border-radius: 3px; 
    margin:2px; 
    display: inline-block;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 18px;
    width: 400px;
}

.idea-form input[type="text"], .idea-form input[type="email"] {
    border: none;
    width: 324px;
}
.idea-form input[type="text"]:focus,
.idea-form input[type="email"]:focus,
.idea-form input[type="password"]:focus{
    outline:none;
}

.idea-form input[type="submit"] {
    background: #FFA51A;
    border: none;
    padding: 5px 14px;
    color: white;
    border-radius: 3px;
}
.pages {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.pages li {
    display: inline-block;
    background: rgb(214, 214, 214);
    color: rgb(117, 117, 117);
    padding: 0px 7px;
    cursor:pointer;
    margin-right: 6px;
}


.pages .active {
    color: white;
    background: #498FDD;
}

.pages li:first-child {
}

.pages a {
    color:inherit;
}

.idea {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin: 2px;
    padding: 5px 10px;
    border-left-width:3px;
}

.vote-box {
    background: rgba(189, 189, 189, 0.15);
    color: rgb(148, 148, 148);
    margin-right: 8px;
    padding: 0 1px;
    display:inline-block;
}
.idea-title {
    color: inherit;
}
.vote-box a {
    color: rgb(170, 170, 170);
    font-size: 13px;
    display: inline-block;
    vertical-align: text-bottom;
    cursor:pointer;
}
.vote-up:hover, .vote-up.current-vote {
    text-decoration: none;
    color: #5EEF19;
}
.vote-down:hover, .vote-down.current-vote {
    text-decoration: none; 
    color: #F71945;
}
.comments-count{
    float:right;
    color:rgb(172, 172, 172);
}
.comments-count:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.pagination {
    text-align: right;
}
.step-links {
background: #498FDD;
color: rgb(231, 231, 231);
font-size: 14px;
padding: 0px 6px;
margin-right: 3px;
display: inline-block;
position: relative;
border: 1px solid;
border-color: #DBDBDB #D5D5D5 #C7C7C7;
border-radius: 3px;
}
.step-links a {
    color: inherit;
}
.step-links a:hover {
    text-decoration:none;
    color: #FFB646;
}

.delete-form {
    display:inline;
    float:right;
}

.delete-form input[type="submit"] {
    color: #CF0029;
    border: none;
    background: none;
}
.access-header {
    background: #F50030;
    color: white;
    padding: 6px 0px;
    position: relative;
    z-index: 0;
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.46), 
        inset 0px -11px 8px -10px rgba(0, 0, 0, 0.25);
}
h5 {
    color: inherit;
}
.request-form h4 {
    margin: 0;
    font-size: 20px;
    color: #696969;
}
div.request-form {
}
.request-form form {
    text-align: left;
    width: 300px;
    margin-top: 0px;
    background: rgb(233, 233, 233);
}
.request-form input[type='submit'] {
    margin-top: 6px;
    background: #B9B9B9;
}
.access-form input[type="password"] {
    font-size: 32px;
    width: 81%;
    border:none;
}
.access-form h4 {
    margin-top: 20px;
}
.access-form input[type="submit"] {
    float: right;
    margin-top: 9px;
}
.access-form {
    width: 530px;
}
.request-form input[type="email"] {
    background: transparent;
}

.messages {
    list-style: none;
}
.messages li {
    background: #ABABAB;
    color: white;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 3px;
}
.messages .error {
    background: #F84467;
}
.messages .success {
    background: #4DEC00;
}
.messages .warning {
    background: #FFB646;
}

.customize {
    background: #72A9E5;
    float: right;
    padding: 0px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.nothing {
    font-size: 20px;
    color: rgb(162, 162, 162);
    text-align: center;
    margin-top: 60px;
}
