
body {
    background: white;
}
h1, h2, h3, h4, h5, h6,body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: inherit;
}


.new-box {
margin: auto;
padding-top: 40px;
}


input[type="text"]{
height: 43px;
font-size: 1.9rem;
border: none;
display: block;
border: none; 
width: 280px;  
height: 46px; padding: 0 15px;     border-radius: 2px;       font-size: 18px; 
color: #565656;
}

input[type="submit"]{
font-weight: bold;
margin-top: 30px;
font-size: 2rem;
background: #FFA51A;
border-radius: 4px;
border: none;
padding: 3px 27px;
color: #FFFFFF;
font-weight: 300;
}

.form-wrapper {
    background: #498FDD;
    color: white;
    padding-bottom: 70px;
    border-top: 10px solid #0A67CF;
}

h3.title {
    margin-bottom: 10px;
}
h5.access-method-title {
    margin-top: 20px;
    margin-bottom: 10px;
}
.choices .selected {
    background: #074891;
}
.choices li {
    display: inline-block;
    margin-right: 11px;
    background: #72A9E5;
    padding: 3px 9px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}
ul.choices {
    margin: 0;
}

