<li class='idea' id='idea-{{idea.pk}}'
    style='border-left-color: hsla({{ idea.color }},90%,55%,1)' >
    <div class='vote-box'>
        <a onclick="vote('up',{{ idea.pk }},'{% url 'boxes.views.vote' box.pk idea.pk 'up' %}')" class='vote-up
            {% if idea.user_vote == 1 %}current-vote{% endif %}'
            >&#9650;</a>
        <span class='score'>{{ idea.score }}</span>{{ idea.user_vote.vote }}
        <a onclick="vote('down',{{ idea.pk }},'{% url 'boxes.views.vote' box.pk idea.pk 'down' %}')" class='vote-down
            {% if idea.user_vote == -1 %}current-vote{% endif %}'
            >&#9660;</a>
    </div>
    <a class='idea-title' href='{{ idea.url }}'>{{ idea.title }}</a>
    {% if request.session.session_key == idea.session_key %}
        <form class='delete-form' method='post' action='{% url 'boxes.views.delete_idea' box.pk idea.pk %}' >
            {% csrf_token %}
            <input type='submit' value='&#x2716;' />
        </form>
    {% endif %}
</li>
