{% extends 'base.html' %}

{% block title %}{% if box %}{{ box }} - {% endif %}{{ block.super }}{% endblock %}

{% block content %}
<div class='header'>
    <div class='row'>
    <a class='logo' href='/' title='kioto.io'>k</a>
    <a class='box-name' href='{{ box.url }}'>{{ box }}</a>
    {% if not box.is_access_by_session and user_key %}
    <form method='post' class='logout' action='{% url 'boxes.views.logout' box.slug %}'>
        {% csrf_token %}
        <input type='submit' value='logout'/>
    </form>
    {% endif %}
    </div>
</div>
{% block extra-headers %}
{% if not user_key %}
<div class="access-header">
    <h5 class="row">To participate,
        {% if box.access_mode == box.ACCESS_BY_GOOGLE %}
        <a href="{% url 'social:begin' "google" %}?next={{ request.path }}">Login with Google</a>
        {% else %}
        enter your mail:
        <form action='{{ box.url }}' method='post'>
            {% csrf_token %}
            <input type='email' name='email' value='@{{ box.email_suffix }}'/>
        </form>
        {% endif %}
    </h5>
</div>
{% endif %}
{% endblock %}
<div class='box row'>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if box.access_mode == box.ACCESS_BY_EMAIL and not user_key %}
<div class='nothing'>
To see the content of this box, you need to join it
</div>
{% else %}
{% block box %}
{% endblock %}
{% endif %}
</div>
{% endblock %}
