{% extends 'base.html' %}

{% block title %}{% if box %}{{ box }} - {% endif %}{{ block.super }}{% endblock %}

{% block content %}
<div class='header'>
    <div class='row'>
    <a class='logo' href='/' title='kioto.io'>k</a>
    <a class='box-name' href='{{ box.url }}'>{{ box }}</a>
    {% if user_key == box.user_key %} 
    <a class="customize" href='{% url 'boxes.views.settings' box.pk %}'>Customize</a>
    {% endif %}
    {% if not box.is_access_by_session and user_key %}
    <form method='post' class='logout' action='{% url 'boxes.views.logout' box.pk %}'>
        {% csrf_token %}
        <input type='submit' value='logout'/>
    </form>
    {% endif %}
    </div>
</div>
{% block extra-headers %}
{% if not user_key %}
<div class="access-header">
    <h5 class="row">To participate
        {% if box.access_mode == box.ACCESS_BY_GOOGLE %}
        <a href="{% url 'social:begin' "google" %}?next={{ request.path }}">Login with Google</a>
        {% else %}
           enter the fucking mail 
        {% endif %}
    </h5>
</div>
{% endif %}
{% endblock %}
<div class='box row'>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block box %}
{% endblock %}
</div>
{% endblock %}
