{% extends 'box/base.html' %}

{% block box %}
<form class='idea-form' method='post' action=''>
    {% csrf_token %}
    <input type='text' name='title' placeholder='Enter a new idea here' />
    <input type='submit' value='post' name='submit_idea'>
</form>
<br/>
<ul class='pages'>
    <li {% if sort == 'top' %}class='active'{% endif %}>
        <a href='{% url 'boxes.views.box' box.pk %}'>Top</a>
    </li><li {% if sort == 'new' %}class='active'{% endif %}>
        <a href='{% url 'sort_new' box.pk %}'>New</a>
    </li>
</ul>
<ol class='ideas'>
{% for idea in ideas %}
<li class='idea' id='idea-{{idea.pk}}'>
    <div class='vote-box'>
        <a onclick="vote('up',{{ idea.pk }},'{% url 'boxes.views.vote' box.pk idea.pk 'up' %}')" class='vote-up
            {% if idea.user_vote == 1 %}current-vote{% endif %}'
            >&#9650;</a>
        <span class='score'>{{ idea.score }}</span>{{ idea.user_vote.vote }}
        <a onclick="vote('down',{{ idea.pk }},'{% url 'boxes.views.vote' box.pk idea.pk 'down' %}')" class='vote-down
            {% if idea.user_vote == -1 %}current-vote{% endif %}'
            >&#9660;</a>
    </div>
    <a class='idea-title' href='{{ idea.url }}'>{{ idea.title }}</a>
</li>
{% endfor %}
<ol>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}
