{% extends 'box/base.html' %}

{% block box %}
<form class='idea-form' method='post' action=''>
    {% csrf_token %}
    <input type='text' name='title' placeholder='Enter a new idea here' />
    <input type='submit' value='post' name='submit_idea'>
</form>
<br/>
<ul class='pages'>
    <li {% if sort == 'top' %}class='active'{% endif %}>
        <a href='{% url 'boxes.views.box' box.pk %}'>Top</a>
    </li><li {% if sort == 'new' %}class='active'{% endif %}>
        <a href='{% url 'sort_new' box.pk %}'>New</a>
    </li>
</ul>
<ol class='ideas'>
{% for idea in ideas %}
{% include 'box/_idea.html' %}
{% endfor %}
</ul>
{% if ideas.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if ideas.has_previous %}
            <a href="?page={{ ideas.previous_page_number }}">&#5176;</a>
        {% endif %}

        <span class="current">
            {{ ideas.number }}/{{ ideas.paginator.num_pages }}
        </span>

        {% if ideas.has_next %}
            <a href="?page={{ ideas.next_page_number }}">&#5171;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}
