{% extends 'box/base.html' %}

{% block title %}{{ box }} - {{ idea.title }}{% endblock %}

{% block box %}
<div class='idea-full'>
    <h4>{{ idea.title }}</h4>
    <p>{{ idea.content|linebreaks }}</p>
</div>
<br/>
<h5>Comments</h5>
<form method='post' action=''>
    {% csrf_token %}
    <input type='text' name='comment' placeholder='Enter a comment here' />
    <input type='submit' value='post'>
</form>
<br/>
<ol class='comments'>
{% for comment in idea.box.idea_set.all %}
<li class='comment'><a href='{{ comment.url }}'>{{ comment.content }}</a></li>
{% endfor %}
<ol>
{% endblock %}
