{% extends 'box/base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block box %}
<div class='settings card'>
    <h3>Box settings</h3>
    <form  method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            {{ form.name.errors }}
            <label for="id_name">Name:</label>
            {{ form.name }}
        </p>
        <p>
            {{ form.access_mode.errors }}
            <label for="id_access_mode">How can people participate?</label>
            <input type='hidden' name='access_mode' value='{{ form.access_mode.value }}' />
            <div class="access_mode_choices">
                <div data-value="{{ box.ACCESS_BY_SESSION }}">
                    <strong>No restrictions</strong>
                    <em>Anyone can participate without any authentication</em>
                </div>
                <div data-value="{{ box.ACCESS_BY_GOOGLE }}">
                    <strong>Require a Google account</strong>
                    <em>To prevent (most) spam</em>
                </div>
                <div data-value="{{ box.ACCESS_BY_EMAIL }}">
                    <strong>Require signup via email using a specific domain</strong>
                    <em>Example: @stanford.edu or @apple.com</em>
                </div>
            </div>
            <p class='email_suffix_box'
                {% if box.access_mode != box.ACCESS_BY_EMAIL %} style='display:none'{% endif %} >
                {{ form.email_suffix.errors }}
                <label for="id_email_suffix">Email domain:</label>
                <span class="at">@</span>
                {{ form.email_suffix }}
            </p>
        </p>
        <input type="submit" value="Save">
    </form>
</div>
<div class='admin-link card'>
    To access this page again, keep this link: <a href='{% url 'boxes.views.settings' box.slug box.user_key %}'>kioto.io{% url 'boxes.views.settings' box.slug box.user_key %}</a>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
$('.access_mode_choices > div').off();
$('.access_mode_choices > div').click(function(e){
        $('.access_mode_choices > div').removeClass('selected');
        $(this).addClass('selected')
        var value = $(this).attr('data-value');
        $('input[name="access_mode"]').attr('value',value)
        if(value == '{{ box.ACCESS_BY_EMAIL }}'){
        $('.email_suffix_box').show()
        }else{
        $('.email_suffix_box').hide()
        }
        })
$('div[data-value="{{ form.access_mode.value }}"]').click()
</script>
{% endblock %}
