{% load static %}

<html>
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}kioto.io{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'box.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block js %}
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'> 
</body>
</html>
