{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class='form-wrapper'>
<form method='post' action='' class='new-box row'>
    <h3 class='title'>Discuss about <span class='X'>anything</span> with <span class='Y'>any group</span></h3>
{% csrf_token %}
<input type='submit' value='Create a discussion box'/>
</form>
</div>

<div class='marketing row'>
</div>
{% endblock %}


{% block js %}
{{ block.super }}
<script>
var cases = [
    ['your favorite pornstars', 'your colleagues'],
    ['this boring course', 'your classmates'],
    ['politics', 'your friends'],
    ['the question to ask', 'other attendees'],
    ['city issues', 'other citizens'],
    ['programming', 'colleagues <span class="without">without sexism</span>'],
    ['music', 'your neighbors'],
]

var current = -1;

function swap(){
    current = (current + 1) % cases.length;
    c = cases[current];
    $('.X').fadeOut(200, function(){
        $('.X').html(c[0])
        $('.X').fadeIn()
    })
    $('.Y').fadeOut(200, function(){
        $('.Y').html(c[1])
        $('.Y').fadeIn()
    })
}

setInterval(swap, 5000);
setTimeout(swap, 2000);
</script>
{% endblock %}
